<div fxFlex fxShow fxHide.lt-sm="true">

  <mat-toolbar class="header" fxFlex>

    <div fxFlex fxLayoutAlign="space-between center">
      <div fxFlex="85">
        <img src="./assets/images/login/MILLENIA.png" style="width:80px">
      </div>

      <div fxLayout="row" fxFlex="15" fxLayoutAlign="center center">
        <a style="cursor:pointer;padding-right:30px" class="header__header-items--header-item"
          [routerLink]="['/home']"><img matTooltip="messages" src="./assets/images/icons/message.png"></a>
        <a style="cursor:pointer;padding-right:30px" class="header__header-items--header-item"><img matTooltip="Turn On"
            src="./assets/images/icons/turn_on.png"></a>
        <div style="font-family: Roboto;font-weight: 500;font-size: 18px;line-height: 28.08px;text-align: right;">Hello
          <div style="font-family: Roboto;font-weight: 400;font-size: 12px;;line-height: 15.96px">Username</div>
        </div>
        <a style="cursor:pointer;padding-left:15px" class="header__header-items--header-item"><img
            matTooltip="User Details" src="./assets/images/icons/user_details.png"></a>
      </div>
    </div>
  </mat-toolbar>
</div>


<div fxFlex fxShow fxHide.gt-xs="true" style="background-color: white;">

  <mat-toolbar class="header" fxFlex>

    <div fxLayout="row" fxFlex fxLayoutAlign="center center">

      <a fxFlex="25" style="cursor:pointer;text-align: center;" class="header__header-items--header-item" [routerLink]="['/home']"><img
          matTooltip="messages" src="./assets/images/icons/mobile/mobile_home.png"></a>
      <a fxFlex="25" style="cursor:pointer;text-align: center;" class="header__header-items--header-item"><img matTooltip="Turn On"
          src="./assets/images/icons//mobile/mobile-graph.png"></a>
      <a fxFlex="25" style="cursor:pointer;text-align: center;" class="header__header-items--header-item"><img matTooltip="Turn On"
          src="./assets/images/icons//mobile/mobile-arrows.png"></a>
      <a fxFlex="25" style="cursor:pointer;text-align: center;" class="header__header-items--header-item"><img matTooltip="Turn On"
          src="./assets/images/icons//mobile/mobile-profile-pic.png"></a>
    </div>
  </mat-toolbar>
</div>
