.user-manager {
}

.instrument-manager {
}

.instrument-series-manager {
}

.content {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 250px;
  height: 200px;
  padding:25px;
  cursor:pointer;
}
.content:hover {
  border: none;
}
