.login-image {
  background-image: url(../../../assets/images/login/main_illustration.png);
}


.login-image-properties {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100vh;
}


@media (max-width: 599px) {
  .login-image-properties {
    margin-top: 30px;
  }
 }
