.example-full-width {
  width: 378px;
  height: 65px;
}

.error-message {
color: #9D235E;
padding-bottom:15px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  /* padding: .4375em 0; */
  border: 1px solid ;
  height: 65px;
  border-radius: 6px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.28125em;
  left: 15px;
}
.gradient {
  background: linear-gradient(to right, #4b3f72, #d5538c);
}


.millenia-logo {
  background-image: url(../../../assets/images/login/MILLENIA.png);
}

.millenia-logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 130px;
}

// /* Styles for web (1440px and above) */
// @media (min-width: 1440px) {
// .login-container {
//   display: flex;
//   flex-direction: row;
// }
// }

// /* Styles for tablet and medium devices (in between 415px and 1439px) */
// @media (min-width: 415px) and (max-width: 1439px) {
//   .login-container {
//     display: flex;
//     flex-direction: row;
//   }

//   /* Styles for mobile (599px and below) */
@media (max-width: 599px) {
  .millenia-logo {
    width:inherit;
    max-height: 8% !important;
    margin-top: 30px;
  }
 }
// }
.mat-toolbar {
  background: none !important;
}
.card {
  width: 521px;
  height: 322px;
  background: linear-gradient(135deg, #4b3f72, #d5538c);
  border-radius:  0 75px 0 75px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1; /* Lower z-index to allow image on top */
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.content p {
  margin: 5px 0 20px;
  font-size: 16px;
  color: #f9c8db;
}

.image-wrapper {
  position: relative;
  width: 140px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content  {
text-align: left;
width: 100%;
padding: 25px;
}

.illustration {
  position: absolute; /* Image positioned absolutely */
  width: 140px;
  height: 300px;
  object-fit: contain;
  z-index: 2; /* Higher z-index to appear above the card */
  top: -50px; /* Adjust positioning to move the image above the card */
}

.card-button {
  background: linear-gradient(to right, #4b3f72, #d5538c);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  width: 218px;
  height: 56px;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  cursor: pointer;
  text-transform: uppercase;
}

.card-button:hover {
  opacity: 0.9;
}
