.example-full-width {
  width: 378px;
  height: 65px;
}

.error-message {
color: #9D235E;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  /* padding: .4375em 0; */
  border: 1px solid ;
  height: 65px;
  border-radius: 6px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.28125em;
  left: 15px;
}
.gradient {
  background: linear-gradient(to right, #4b3f72, #d5538c);
}


.millenia-logo {
  background-image: url(../../../assets/images/login/MILLENIA.png);
}

.millenia-logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 130px;
}

// /* Styles for web (1440px and above) */
// @media (min-width: 1440px) {
// .login-container {
//   display: flex;
//   flex-direction: row;
// }
// }

// /* Styles for tablet and medium devices (in between 415px and 1439px) */
// @media (min-width: 415px) and (max-width: 1439px) {
//   .login-container {
//     display: flex;
//     flex-direction: row;
//   }

//   /* Styles for mobile (414px and below) */
// @media (max-width: 414px) {
//   .login-container {
//     display: flex;
//     flex-direction: column;
//   }
// }
// }
