<div fxFlex="3"></div>

<div fxLayout="column" style="height:500px;width:100%;position: absolute;" fxFlex fxLayoutAlign="space-between center">
  <div fxHide.lt-sm="true" class="card" fxFlex="95" style="height:500px;padding-left: 40px;width: 94%;"
    fxLayout="column">

    <div class="content" fxLayout="column" fxFlex style="padding-left: 0;padding-top: 10px;width: 100%;">
      <img src="./assets/images/icons/arrow_left.png" style="width:24px;height:24px;margin-bottom:17px">

      <h2 style="font-weight: 400; font-size: 40px; line-height:40px; font-family:Roboto">Current Accounts</h2>

      <mat-card style="cursor:pointer;width:441px;height:291px;border-radius:8px">

        <div fxLayout="row">

          <div fxLayout="column" fxFlex="1.5" [ngStyle]="{
            'height.px': 246.37,
            'width.px': 8,
            'background-color': product.color || '#5AB970',
            'border-radius': '20px'
          }"></div>

          <div style="margin-left: 20px;" fxFlex fxLayout="column" fxLayoutAlign="space-between center">

            <div fxLayout="row" style="width:100%" fxLayoutAlign="space-between center">

              <mat-card style="background-color: #F4F5FB;width: 57.42px;height:39.21px" fxLayoutAlign="center center">
                <img [src]="product.thumbnailUrl" alt="Product Icon">
              </mat-card>

              <div>
                <p
                  style="font-family:Roboto; font-weight: 400;font-size: 12px;line-height: 15.96px;color: #3D429A;margin: 0;text-align: right;">
                  {{ product.titleNickname || 'Standard LOREM IPSUM'}}</p>

                <!-- Use title or nickname -->
                <p style="font-family:Roboto; font-weight: 700;font-size: 28px;line-height: 32px;color: #2E3275;"
                  class="price"> {{ product.balance | currency: product.currencyCode: 'symbol':'1.2-2' }} <span
                    style="font-family:Roboto; font-weight: 400;font-size: 28px;line-height: 16px;color: #2E3275;">{{
                    product.currencyCode }}</span>
                </p>

              </div>
            </div>

            <div fxLayout="row" style="width:100%">

              <div fxLayout="row" style="width:100%">

                <div fxFlex fxLayout="column" style="width:95%">
                  <p
                    style="font-family:Roboto; font-weight: 500;font-size: 22px;line-height: 24px;color: #9D235E;margin:0 0 8px 0px;">
                    Finuevo Premium</p>
                  <p style="font-family:Roboto; font-weight: 500;font-size: 22px;line-height: 24px;color: #2E3275;">{{
                    product.subtitle }}</p>
                </div>


                <div fxFlex fxLayout="column" style="width:5%;padding-bottom:10px" fxLayoutAlign="center end">
                  <div fxFlex="95">
                    <img src="./assets/images/icons/edit.png">
                  </div>
                  <div fxFlex="95">
                    <img src="./assets/images/icons/copy.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>


  <button fxHide.lt-sm="true" fxLayoutAlign="space-between center"
    style="position: absolute;bottom: -74px;left: 110px;z-index: 1;" class="card-button"><mat-icon style="color:white;"
      matTooltip="Add Product">add
    </mat-icon> NEW TRANSACTION</button>

  <div class="container"
    style="width:43%;position: absolute;right:0;z-index: 3;right: 151px;top: 68px;border-radius: 30px;"
    fxLayout="column">

    <div class="search-header">
      <!-- Search Input -->
      <div class="search-wrapper" style="position: relative">
        <img src="./assets/images/icons/search_icon.png" style="position: absolute; top: 12px;left:12px">
        <input type="text" class="search-bar" placeholder="Search by keyword, beneficiary or whatever"
          [(ngModel)]="searchQuery" (input)="onSearch()" />

        <!-- Export Icon (if applicable) -->
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <button class="export-btn">
        <img src="./assets/images/icons/document_export.png" style="width:24px;height:24px;margin-bottom:17px">
      </button>
      <p>EXPORT</p>
    </div>

    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">

      <div fxLayout="column">
        <p style="font-family:Roboto;font-weight: 400;font-size: 16px;line-height: 16px;color:#2E3275">
          LATEST TRANSACTIONS<br
            style="font-family:Roboto;font-weight: 400;font-size: 12px;line-height: 15.96px;color:#3D429A">
          You can tap any transaction below to initiate a new one with the same information</p>
      </div>

      <div fxLayout="column">
        <button class="export-btn">
          <img src="./assets/images/icons/caret_down.png" style="width:24px;height:24px;margin-bottom:17px">
        </button>
      </div>
    </div>

    <!-- Filtered Results -->
    <div class="transaction-list" *ngIf="filteredResults.length > 0">

      <div *ngFor="let result of filteredResults" class="transaction-item">

        <div fxLayout="column" fxFlex>

          <div style="font-weight: 400; font-size: 16px; line-height:16px; font-family:Roboto;color: #2E3275;"
            class="transaction-date">
            {{ result.date | date:'dd/MM/yyyy' }}</div>


          <div class="transaction-details" fxLayout="row" fxFlex style="padding-top:20px;margin-left: 0;">
            <div fxLayout="column" fxFlex="80">
              <div class="transaction-title"
                style="font-weight: 500; font-size: 22px; line-height:24px; font-family:Roboto;color: #2E3275;">{{
                result.title }}</div>

              <div style="font-weight: 400; font-size: 16px; line-height:24px; font-family:Roboto;color: #3D429A;"
                class="transaction-subtitle">{{ result.subtitle }}</div>
            </div>

            <div fxLayout="column" fxFlex="20">
              <div class="transaction-amount" [ngClass]="{'debit': result.amount < 0, 'credit': result.amount > 0}"
                style="font-weight: 700; font-size: 22px; line-height:32px; font-family:Roboto;color: #2E3275;padding-top:16px">
                {{ result.amount | number:'1.2-2' }} <span
                  style="font-weight: 400; font-size: 22px; line-height:16px; font-family:Roboto;color: #3D429A;">{{
                  result.currencyCode }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- No Results Message -->
    <div *ngIf="filteredResults.length === 0 && searchQuery.length > 0">
      <p>No transactions found matching your search.</p>
    </div>
  </div>
</div>
