.home-card-container {
  background-color: #F4F5FB;
  width: 57.42px;
  height:39.21px;
}

.home-card {
  background-color: #F4F5FB;
  width: 46px;
  height:33px;
}

.product-details-status {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6267C1;
  margin: 0;
 }
 
 .product-details-price {
   font-weight: 700;
   font-size: 16px;
   line-height: 18.75px;
   color: #2E3275;
 }
