<div style="background-color: #F4F5FB;height:100%" fxLayout="column" class="mobile-main-container">
  <app-login fxFlex *ngIf="!isLoggedIn" (loginSuccess)="onLoginSuccess()"></app-login>
  <app-header style="background-color: #F4F5FB;" *ngIf="isLoggedIn" fxShow fxHide.lt-sm="true"></app-header>

  <mat-sidenav-container *ngIf="isLoggedIn" class="sidenav_container" style="background-color: #F4F5FB;height:100%;">
    <mat-sidenav-content fxLayout="row">
      <div fxLayout="column" fxHide.lt-sm="true" fxLayoutAlign="space-around center" fxFlex="6.5"
        style="height:430px;padding-top:45px">
        <div style="text-align: center;">
          <img src="./assets/images/icons/Dashboard.png" style="width:40px;height:40px">
          <div>Dashboard</div>
        </div>
        <div style="text-align: center;">
          <img src="./assets/images/icons/ic_assessment.png" style="width:40px;height:40px">
          <div>Portfolio</div>
        </div>
        <div style="text-align: center;">
          <img src="./assets/images/icons/swap_horiz.png" style="width:40px;height:40px">
          <div>Transactions</div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="93.5">
        <router-outlet *ngIf="isLoggedIn"></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <app-header style="background-color: #F4F5FB;" *ngIf="isLoggedIn" fxShow fxHide.gt-xs="true"></app-header>
</div>

