<div style="height: 100%" fxLayout.gt-xs="row" fxLayout.lt-sm="column">

  <div class="millenia-logo" fxShow fxHide.gt-xs="true" fxFlex.lt-sm="20"></div>

  <mat-card-content fxFlex.lt-sm="60" fxLayout.lt-sm="row" fxLayout.gt-xs="column" fxFlex.gt-xs="50"
    class="content login-image login-image-properties"></mat-card-content>

  <div fxLayout="column" fxFlex.lt-sm="10" fxFlex.gt-xs="50" fxLayoutAlign="center center">

    <div class="millenia-logo" fxFlex.gt-xs="25" fxShow fxHide.lt-sm="true"></div>

    <mat-card-content fxLayout="column" fxFlex.lt-sm="20" fxFlex.gt-xs="30">


      <form fxLayoutAlign="space-between center" #loginForm="ngForm" fxLayout="column"
        (ngSubmit)="onLogin(loginForm.value)">

        <div fxLayout="column" class="example-full-width" style="margin-bottom: 40px">

          <h1 style="font-weight: 400; font-size: 40px; line-height:40px; font-family:Roboto ;color:#3D429A">
            Hello
          </h1>

          <span style="font-weight: 500;font-size: 18px;font-family: Roboto;line-height:23.94px;"
            class="error-message">Please
            enter your Credentials</span>
        </div>


        <div fxLayout="column" style="margin-bottom: 20px">

          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput fxFlex="80" type="text" name="username" ngModel #usernameInput="ngModel" required matInput>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <!-- <span *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">Please
            enter a password.</span> -->
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput fxFlex="80" [type]="password" name="password" ngModel #passwordInput="ngModel" required
              matInput>
            <div style="padding-left:40px" fxLayoutAlign="center center" (click)="onClick()">
              <mat-icon matTooltip="visible" style="color: #2E3275;" *ngIf="!show">visibility_off</mat-icon>
              <mat-icon matTooltip="not visible" style="color: #2E3275;" *ngIf="show">visibility</mat-icon>
            </div>
          </mat-form-field>
        </div>

        <div style="text-align: right;width:100%;margin-top: 15px; font-weight: 700;font-size: 16px;">
          <a>I forgot my Credentials</a>
        </div>


        <mat-dialog-actions fxLayout="column" style="margin-top:30px;" fxLayoutAlign="center center">
          <button style="width: 378px;height: 56px; border-radius:5px" class="mat-raised-button mat-primary gradient"
            type="submit" [disabled]="loginForm.invalid" name="button">
            <div
              style="font-weight: 500px;font-family: Roboto;line-height:15.96px;letter-spacing: 1.25px;font-size: 14px;">
              LOGIN</div>
          </button>

          <div fxLayout="row"
            style="color:#41427b;line-height: 24px;font-weight: 400;font-size: 16px; padding-top: 15px;"
            fxLayoutAlign="center start">
            <div fxLayout="row">

              <div>Don't you have an account?</div>

              <pre>   </pre>

              <a style="color: #2E3275;font-weight: 700;font-size: 16px;font-family: Roboto;">SIGN
                UP</a>

            </div>
          </div>

        </mat-dialog-actions>
      </form>
    </mat-card-content>

    <div fxLayout="column" fxLayoutAlign="end center" fxShow fxHide.lt-sm="true" fxFlex.lt-sm="20" fxFlex.gt-xs="40">
      <pre
        style="text-align: center;font-family:Roboto;font-weight: 400;font-size: 12px;line-height: 16px;color:#41427b"
        height>imprint   |   Legal resource   |   Data Protection   |   Accessibility</pre>
      <div
        style="text-align: center;font-family:Roboto;font-weight: 400;font-size: 12px;line-height: 16px;color:#41427b">
        Copyright ©
        2020 Millenia BANK
      </div>
    </div>
  </div>

  <div style="position:relative;top:122%" fxLayout="column" fxShow fxHide.gt-xs="true"
    fxFlex.lt-sm="50" fxFlex.gt-xs="40">
    <pre style="text-align: center;font-family:Roboto;font-weight: 400;font-size: 12px;line-height: 16px;color:#41427b"
      height>imprint   |   Legal resource   |   Data Protection   |   Accessibility</pre>
    <div fxShow fxHide.lt-sm="true"
      style="text-align: center;font-family:Roboto;font-weight: 400;font-size: 12px;line-height: 16px;color:#41427b">
      Copyright ©
      2020 Millenia BANK
    </div>
  </div>
