<div style="height: 94%" fxLayout.gt-xs="row" fxLayout.lt-sm="column">

  <div class="millenia-logo" fxHide.gt-xs="true" fxFlex.lt-sm="20"></div>

  <mat-card-content fxFlex.lt-sm="60" fxFlex.gt-xs="50" class="content login-image"></mat-card-content>

  <div fxLayout="column" fxFlex.lt-sm="10" fxFlex.gt-xs="50" fxLayoutAlign="center center">

    <div class="millenia-logo" fxFlex.gt-xs="25"></div>

    <mat-card-content fxLayout="column" fxFlex.lt-sm="20" fxFlex.gt-xs="30">

      <form class="mobile-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <div class="example-full-width" fxHide.lt-sm="true" style="margin-bottom: 40px">

          <h1 class="greetings">
            Hello
          </h1>

          <span class="error-message call-for-credentials">Please
            enter your Credentials</span>
        </div>


        <div fxLayout="column" style="margin-bottom: 20px">

          <span *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-message">
            Please enter a username.</span>

          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput style="padding:10px" fxFlex="80" formControlName="username" type="text" required>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
            Please enter a password.
          </span>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput style="padding:10px" fxFlex="80" [type]="password" formControlName="password" required>
            <div style="padding-left:40px" fxLayoutAlign="center center" (click)="onClick()">
              <mat-icon matTooltip="visible" style="color: #2E3275;" *ngIf="!show">visibility_off</mat-icon>
              <mat-icon matTooltip="not visible" style="color: #2E3275;" *ngIf="show">visibility</mat-icon>
            </div>
          </mat-form-field>
        </div>

        <div class="forgot-credentials">
          <a>I forgot my Credentials</a>
        </div>


        <mat-dialog-actions fxLayout="column" style="margin-top:30px;">
          <button class="mat-raised-button mat-primary gradient login-button" type="submit"
            [disabled]="loginForm.invalid" name="button">
            <div>LOGIN</div>
          </button>

          <div class="ask-for-account" fxLayoutAlign="center start">

            <div fxLayout="row">

              <div>Don't you have an account?</div>

              <pre>   </pre>

              <a class="call-to-signup">SIGNUP</a>
            </div>
          </div>
        </mat-dialog-actions>
      </form>
    </mat-card-content>

    <div class="footer" fxLayout="column" fxLayoutAlign="end center" fxHide.lt-sm="true" fxFlex.gt-xs="33">
      <pre>imprint   |   Legal resource   |   Data Protection   |   Accessibility</pre>
      <div>
        Copyright ©
        2020 Millenia BANK
      </div>
    </div>
  </div>

  <div class="footer" style="position:relative;top:26%" fxHide.gt-xs="true" fxFlex.lt-sm="50">
    <pre>imprint   |   Legal resource   |   Data Protection   |   Accessibility</pre>
  </div>
</div>
