<div style="height: 100%" fxLayout="row">

  <div style="padding-left:35px" fxLayout="column" fxLayoutAlign="center center" fxFlex="50">

    <div class="card">

      <div class="content">

        <h2 style="font-weight: 400; font-size: 40px; line-height:40px; font-family:Roboto">Portfolio</h2>
        <p style="font-weight: 500; font-size: 18px; line-height:40px; font-family:Roboto;color: #D84E91;">All your
          accounts at a glance</p>
      </div>

      <div class="image-wrapper">
        <img src="./assets/images/icons/woman.png" alt="Illustration" class="illustration">
      </div>
    </div>

    <button class="card-button">VIEW ALL OUR PRODUCTS</button>

  </div>

  <div fxLayout="column" fxFlex="50">

    <mat-card style="height:100%">

    </mat-card>
  </div>
</div>
