<div style="height: 100%" fxLayout="row">

  <div fxLayout="column" fxFlex="50">

    <div class="card">
      <div class="content">
        <h2>Portfolio</h2>
        <p>All your accounts at a glance</p>
        <div class="image-wrapper">
          <img src="./assets/images/icons/woman.png" alt="Illustration" class="illustration">
        </div>
        <button class="card-button">VIEW ALL OUR PRODUCTS</button>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxFlex="50">

    <mat-card style="height:100%">

    </mat-card>
  </div>
</div>
